*{
    margin: 20px;
}

.mainzaozao{
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

.mainzinzin{
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

body{
    background-color:#b7d5e5;
}

/* css menu */

.logo{
    padding: 0%;
    margin: 0px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logo:hover{
    box-shadow: 20px;
    transform: scale(1.1);
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

.carrinho{
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 40px;
    padding-right: 40px;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

.logo_e_lista{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    text-decoration: none;
    list-style:none
}

.lista a{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    list-style:none;
    text-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);;
}

.lista a:hover{
    color: cornflowerblue;
    font-size: 30px;
    transform: scale(1.1);
    font-style: bold;
    text-decoration:underline;
}


/* css main */

main{
    background-color: white;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
}

h1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-decoration:underline;
}

.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobresobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

.sobreimage{
    display: flex;
    flex-direction: row;
    margin: 100px auto;
    overflow: hidden;
}

.sobreimage, .carrosel{
    display:flex;
    height: 200px;
    width: 1000px;
}

.carrosel img{
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: slides;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: running;
}

@keyframes slides{
    0%{
        left: 0px;
    }
    10%{
        left: 0px;
    }
    20%{
        left: -120px;
    }
    30%{
        left: -120px;
    }
    40%{
        left: -240px;
    }
    50%{
        left: -240;
    }
    60%{
        left: -360;
    }
    70%{
        left: -360;
    }
    80%{
        left: -480;
    }
    90%{
        left: -480;
    }
    99.99%{
        left: -480;
    }
    100%{
        left: 0px;
    }
}

.aaa{
    width:500px;
    height: 400px;
    border: 4px solid #b7d5e5;
}

/* css footerzin */

.rodape{
    background-color: cornflowerblue;
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: -10px 10px 5px rgb(0, 0, 0, 0.3);
    height: 400px;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
    margin-bottom: 60px;
}

.faceb{
    width: 160px;
    height: 120px;
}

.instag, .you{
    width: 130px;
    height: 120px;
}

.face, .insta, .youtube{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.p1{
    margin-left: 35px;
    padding-left: 35px;
}

.p2{
    margin-left: 25px;
    padding-left: 25px;
}

.p3{
    margin-left: 30px;
    padding-left: 30px;
}














